<!-- Modal Crear Orden -->
<div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="{{ url_for('orden.create_order') }}" method="post" onsubmit="return validarOrden();">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCreateLabel">Nueva Orden</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Columna izquierda -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="create_numero" class="form-label">Número</label>
                                    <input type="text" id="create_numero" name="numero" class="form-control" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="cliente_nombre" class="form-label">Cliente</label>
                                    <div class="input-group">
                                        <input type="text" id="cliente_nombre" class="form-control"
                                               placeholder="Seleccione un cliente" readonly>
                                        <input type="hidden" name="cliente_id" id="cliente_id" required>
                                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                                data-bs-target="#modalBuscarCliente">
                                            Buscar Cliente
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="usuario_nombre" class="form-label">Usuario</label>
                                    <div class="input-group">
                                        <input type="text" id="usuario_nombre" class="form-control"
                                               placeholder="Seleccione un usuario" readonly>
                                        <input type="hidden" name="usuario_id" id="usuario_id" required>
                                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                                data-bs-target="#modalBuscarUsuario">
                                            Buscar Usuario
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Automóvil(es)</label>
                                    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                                            data-bs-target="#modalSeleccionarAutomovil">
                                        Vehículo
                                    </button>
                                    <div id="automovil_seleccionado" class="form-text mt-2 text-primary"></div>
                                    <input type="hidden" name="automovil_id" id="automovil_id" required>
                                </div>
                                <button type="submit" class="btn btn-primary" id="confirmarAutomovill">Confirmar
                                    Selección
                                </button>
                            </div>
                            <!-- Columna derecha -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Servicios</label>
                                    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                                            data-bs-target="#modalSeleccionarServicios">
                                        Servicios
                                    </button>
                                    <div id="servicios_seleccionados" class="form-text mt-2 text-primary"></div>
                                    <input type="hidden" name="servicio_id" id="servicio_id" required>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Descuento</label>
                                    <select name="descuento" id="create_descuento" class="form-control">
                                        {% for i in range(0, 101, 5) %}
                                        <option value="{{ i }}">{{ i }}%</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="total" class="form-label">Total</label>
                                    <input type="number" step="0.01" name="total" id="total" class="form-control"
                                           required readonly>
                                </div>

                                <div class="mb-3">
                                    <label for="estado" class="form-label">Estado</label>
                                    <select name="estado" id="estado" class="form-control" required>
                                        <option value="">Seleccione un estado</option>
                                        <option value="Pendiente">Pendiente</option>
                                        <option value="En Proceso">En Proceso</option>
                                        <option value="Completado">Completado</option>
                                        <option value="Cancelado">Cancelado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Crear</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal secundarios -->

